Supports Windows Native Authentication

The Windows Native Authentication is a rare authentication type in login phase.

Note:

- The name that's sent by server is `authentication_windows`
- The name that should be sent by client is `authentication_windows_client`
- Uses NTLM (removed in Vista and 2008) or SPNEGO as protocol
  - [RFC2473 Section 3.1: Mechanism-independent Token Format](https://tools.ietf.org/html/rfc2743.html#page-81)
  - [RFC4178 Section 4: Token Defintions](https://tools.ietf.org/html/rfc4178.html#page-7)
  - [X.680 ASN.1](http://www.itu.int/ITU-T/studygroups/com17/languages/X.680-0207.pdf)
  - [X.690 DER](https://www.itu.int/ITU-T/studygroups/com17/languages/X.690-0207.pdf)
